// Import page-specific CSS files here.
@import "home";
@import "show";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-title {
  font-size: 5em;
  padding-top: 10px;
  font-family: 'Poppins';
  font-weight: 600;
}
.outline {
  color: transparent;
  /* Make text transparent */
  -webkit-text-stroke: 2px black;
  /* Add black outline with 2px width */
  text-stroke: 2px black;
  /* Add black outline with 2px width */
}
.sub-title {
font-size: 1em;
  font-family: 'Poppins';
}
.content{
  margin: 0 auto;
  display: flex;
  min-width: 100%;
  max-width: 48rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: stretch;
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease-in-out;
  animation: fadeInSlideInFromBottom 1s;
}

@keyframes fadeInSlideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input-container {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-radius: 0.75rem;
  background-color: black;
  padding-left: 0.25rem;
  // padding-right: 0.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}



.add-button {
  display: flex;
  aspect-ratio: 1 / 1;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  color: white;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
}

.add-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.add-button:focus-visible {
  background-color: rgba(255, 255, 255, 0.25);
}

.items-list {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.submit-button {
  transition: all 0.3s;
  display: flex;
  align-items: baseline;
  justify-content: center;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: black;

}



.recipes-grid {
  padding-top: 40px;
  display: grid;
  grid-gap: 40px; /* Adjust this according to your design */
}

/* Responsive Grid */
@media screen and (min-width: 768px) {
  .recipes-grid {
    grid-template-columns: repeat(3, 1fr); /* 2 columns on medium screens */
  }
}

@media screen and (min-width: 1024px) {
  .recipes-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
  }
}

@media screen and (min-width: 1280px) {
  .recipes-grid {
    grid-template-columns: repeat(3, 1fr); /* 4 columns on extra large screens */
  }
}

// search form
/* Basic Styles */
