<div class="content">
<div class="white-card" style="background-color: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); text-align: center; padding:20px;">
  <h1 class="main-title">PANTRY <span class="outline">PAL</span></h1>

  <p class="sub-title">Got food at home? See what you can make!</p>

<form class="form-container" action="/recipes" enctype="multipart/form-data" method="GET">
  <div class="ingredients-form-container">
    <%= form_for :recipe, url: recipes_path, method: :get do |f| %>
      <%= f.text_field :ingredients, class: "ts-control ingredients-text-field", placeholder: "Eggs, Sugar, Butter...", data: { controller: "tom-select", tom_select_options_value: { tags: true } } %>
      <%= f.submit 'Find recipes', class: "ingredients-button" %>
    <% end %>
  </div>
</form>


    <% if @recipes.present? %>
      <div class="recipes-grid">
        <% @recipes.each do |recipe| %>
          <div class="recipe-card">
            <%= render 'shared/recipe_card', recipe: recipe %>
          </div>
        <% end %>
      </div>
    <% end %>
  </form>
</div>
</div>
