     <style>
      body {
        display: flex;
        flex-direction: column;
      }

      .content {
        flex: 1;
      }

      /* Footer styling */
      footer {
        text-align: center;
        padding: 20px 0;
      }

      .footer-bottom p {
        color: #15452B;
        margin: 0;
      }
    </style>
    <div class="content">
      <!-- Your main content here -->
    </div>
    <footer>
      <div class="footer-content">
        <div class="footer-left">
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; <%= Time.now.year %> PantryPalApp. Made with ❤ Khalil, Rumaysaa, Gianna, Sandra ❤</p>
      </div>
    </footer>
  </div>
