<div class="recipe-card-container">
  <% if recipe['image'] %>
  <%= image_tag recipe['image'], class:"recipe-card-image", alt: recipe['title'] %>
  <% else %>
  <%= image_tag "back.png", class:"recipe-card-image"%>
  <% end %>
  <p class="recipe-card-title"><%= recipe['title'] %></p>
  <form action=<%= "/recipes/#{recipe['id']}" %>>
    <button class="recipe-card-button" type='submit' style="color: white;">View</button>
  </form>
</div>
<%# hello %>
