.homepage-recent-recipes-container {
  margin-top: 20px;
  text-align: left;
}

.homepage-recent-recipes-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.recent-recipe-button {
  height: 62px;
  background-color: white;
  border-color: white;
  font-size: 24px;
  border-radius: 20px
}


//search button

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height to center vertically */
}

.ingredients-button {
  width: 200px;
  /* Match the width */
  background-color: #FBC41C;
  border: 2px solid #161616;
  padding: 10px;
  text-align: center;
  box-shadow: 10px 10px 0px 0px #000000;
  cursor: grab;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: rgb(0, 0, 0);
  /* Set text color */
  font-size: 16px;
  /* Removed duplicate and unnecessary properties */
}

.ingredients-button:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 0px 0px #000000;
}
